body{
font-family: Arial, sans-serif;
background:#f4f6f8;
text-align:center;
margin:0;
padding:0;
}

h1{
margin-top:20px;
color:#333;
}

h2{
margin-top:30px;
color:#444;
}


.event-card{
border:1px solid #ccc;
border-radius:8px;
padding:15px;
margin:15px auto;
width:250px;
background:white;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.event-card button{
padding:8px 15px;
background:#007bff;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

.event-card button:hover{
background:#0056b3;
}



.seat-container{
display:grid;
grid-template-columns:repeat(3,80px);
gap:10px;
justify-content:center;
margin-top:15px;
}



.seat{
padding:12px;
border:1px solid gray;
background:white;
cursor:pointer;
border-radius:5px;
}

.seat:hover{
background:#3498db;
color:white;
}



.booked{
background:green;
color:white;
cursor:not-allowed;
}



.ticket-box{
border:1px solid #ddd;
background:white;
width:250px;
margin:20px auto;
padding:15px;
border-radius:8px;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
}



.history{
width:250px;
margin:20px auto;
text-align:left;
}

.history li{
margin:5px 0;
}
.selected{
background:#007bff;
color:white;
border:2px solid #0056b3;
}